<html>
<head>
  <title>Report Books Result</title>
</head>
<body>
	<h2>Details for {{Title}}</h2>
  {{#if result}}
    
    <li>Title: {{ result.attribuutes.title }}
    <li>Author: {{ result.attributes.author }}
    <li>Gender: {{ result.attributes.gender }}
    <li>Publisher: {{ result.attributes.publisher }}
    
    <!--Make form to get data and report calculation-->
    <form id = 'delete-art-title' method="POST" action='/delete-art-title'>
      <!-- Delete Title Input -->
      <div class='inputs'>
      <label for='deleteresult'>Delete {{Title}}?</label>
      <input id='deleteresult' name='deleteresul' type=text value={{Title}} />
      <input id='delete' type='submit' value='Delete' />
      </div>
    </form>      
  {{else}}
    {{ Title }} not found.
  {{/if}}
  

</div>

{{{body}}}

</body>
</html>